* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Cabin;
}

html, body {
  height: 100%;
  background: #212121;
}

main {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main div.text {
  padding: 0 40px;
  color: #fff;

  text-align: center;
}