* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Cabin;
}

html, body {
  height: 100%;
  background: #212121;
}

div {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

div img {
  width: 40%;
}

div h1 {
  font-size: 40px;
}


